body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.navbar {
  background: #c8041c;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link:hover {
  color: #000;
}

.page-footer {
  background-color: #c8041c;
  color: white;
  padding: 20px 0;
  text-align: center;
}
